x-docker-defaults: &docker_defaults
  restart: unless-stopped

x-frontend-defaults: &frontend_defaults
  <<: *docker_defaults
  image: nextjs-template:latest
  env_file:
    - ./frontend/.env
  ports:
    - 3000:3000

x-backend-defaults: &backend_defaults
  <<: *docker_defaults
  image: django-rest-project-template:latest
  env_file:
    - ./backend/.env
  ports:
    - 8000:8000
  depends_on:
    - db

services:
  frontend:
    <<: *frontend_defaults

  backend:
    <<: *backend_defaults
    volumes:
      - ./backend/volumes/media:/home/web/project/media

  db:
    <<: *docker_defaults
    image: postgres:latest
    env_file:
      - ./db/.env
    volumes:
      - ./db/volumes/pg_data:/var/lib/postgresql/data
    ports:
      - '${DB_PORT:-5432}:5432'

volumes:
  db_data:
